#### Group by & Aggregate

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Agg").getOrCreate()

In [3]:
df_spark = spark.read.csv("Info_4.csv", header=True, inferSchema=True)
df_spark.show()

+--------+-------------+------+
|    Name|   Department|Salary|
+--------+-------------+------+
|Mohammed|     Big Data|  2000|
|  Ruhaan| Data Science| 10000|
|  Sabeel| Data Science| 12000|
| Ibrahim|Data Engineer|  5000|
|Mohammed| Data Science|  8000|
|  Ruhaan|Data Engineer|  6000|
|  Sabeel|     Big Data|  5000|
|     Isa|     Big Data|  4000|
|     Isa|Data Engineer|  5000|
| Ibrahim| Data Science| 12000|
+--------+-------------+------+

In [6]:
df_spark.groupBy('Name').sum('Salary').show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|Mohammed|      10000|
| Ibrahim|      17000|
|  Ruhaan|      16000|
|  Sabeel|      17000|
|     Isa|       9000|
+--------+-----------+

In [7]:
df_spark.groupBy('Department').count().show()

+-------------+-----+
|   Department|count|
+-------------+-----+
|     Big Data|    3|
| Data Science|    4|
|Data Engineer|    3|
+-------------+-----+

In [8]:
df_spark.groupBy('Department').avg().show()

+-------------+------------------+
|   Department|       avg(Salary)|
+-------------+------------------+
|     Big Data|3666.6666666666665|
| Data Science|           10500.0|
|Data Engineer| 5333.333333333333|
+-------------+------------------+

In [23]:
df_spark.groupBy('Name').avg().show()

+--------+-----------+
|    Name|avg(Salary)|
+--------+-----------+
|Mohammed|     5000.0|
| Ibrahim|     8500.0|
|  Ruhaan|     8000.0|
|  Sabeel|     8500.0|
|     Isa|     4500.0|
+--------+-----------+

In [12]:
df_spark.groupBy('Name').max().show()

+--------+-----------+
|    Name|max(Salary)|
+--------+-----------+
|Mohammed|       8000|
| Ibrahim|      12000|
|  Ruhaan|      10000|
|  Sabeel|      12000|
|     Isa|       5000|
+--------+-----------+

In [22]:
df_spark.groupBy('Name').min().show()

+--------+-----------+
|    Name|min(Salary)|
+--------+-----------+
|Mohammed|       2000|
| Ibrahim|       5000|
|  Ruhaan|       6000|
|  Sabeel|       5000|
|     Isa|       4000|
+--------+-----------+

In [21]:
df_spark.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      69000|
+-----------+