### Filter Operations

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

In [3]:
df_spark = spark.read.csv("Info_3.csv", header=True, inferSchema=True)
df_spark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Mohammed| 33|        10| 30000|
|  Ruhaan| 31|         8| 25000|
|  Sabeel| 32|         9| 28000|
| Ibrahim| 34|        12| 32000|
|     Isa| 35|        10| 40000|
|   Rahul| 23|         2| 15000|
|   Virat| 30|         8| 25000|
+--------+---+----------+------+

In [4]:
# salary of the employee less than or equal to 30000
df_spark.filter("Salary<=30000").show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Mohammed| 33|        10| 30000|
|  Ruhaan| 31|         8| 25000|
|  Sabeel| 32|         9| 28000|
|   Rahul| 23|         2| 15000|
|   Virat| 30|         8| 25000|
+--------+---+----------+------+

In [5]:
df_spark.filter(df_spark['Salary']<=30000).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Mohammed| 33|        10| 30000|
|  Ruhaan| 31|         8| 25000|
|  Sabeel| 32|         9| 28000|
|   Rahul| 23|         2| 15000|
|   Virat| 30|         8| 25000|
+--------+---+----------+------+

In [6]:
df_spark.filter(df_spark['Salary']<=30000).select(['Name', 'Salary']).show()

+--------+------+
|    Name|Salary|
+--------+------+
|Mohammed| 30000|
|  Ruhaan| 25000|
|  Sabeel| 28000|
|   Rahul| 15000|
|   Virat| 25000|
+--------+------+

In [10]:
df_spark.filter((df_spark['Salary']<=30000) &
                (df_spark['Salary']>=25000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Mohammed| 33|        10| 30000|
|  Ruhaan| 31|         8| 25000|
|  Sabeel| 32|         9| 28000|
|   Virat| 30|         8| 25000|
+--------+---+----------+------+