Pyspark basic introduction

!pip install pyspark

In [1]:
import pyspark

!pip install requests

In [2]:
import pandas as pd
pd.read_csv('Info_1.csv')

     Name       Type  Qty
0   Apple      Fruit    2
1   Onion  Vegetable    3
2  Carrot  Vegetable    1

In [3]:
from pyspark.sql import SparkSession

'''The provided code is written in Python and utilizes PySpark, which is the Python library for Apache Spark,
 a powerful distributed data processing framework. 
 This line imports the SparkSession class from the pyspark.sql module. The SparkSession is the entry point 
 for creating a PySpark application.'''

In [4]:
spark= SparkSession.builder.appName('Practise').getOrCreate()

SparkSession.builder creates a builder object for configuring the SparkSession.
appName('Practise') sets the name of the application to "Practise". This is a user-defined name to identify
 the Spark application.
getOrCreate() tries to reuse an existing SparkSession or, if none exists, creates a new one. It's a common pattern
to ensure that only one SparkSession exists in the application.

The code establishes a connection to a Spark cluster. A Spark cluster is a group of machines (physical or virtual) where Spark runs. The SparkSession provides a unified entry point for reading data, running SQL queries, and accessing DataFrame APIs in Spark.

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('Info_1.csv')

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [8]:
df_pyspark.show()

+------+---------+---+
|   _c0|      _c1|_c2|
+------+---------+---+
|  Name|     Type|Qty|
| Apple|    Fruit|  2|
| Onion|Vegetable|  3|
|Carrot|Vegetable|  1|
+------+---------+---+

In [13]:
df_pyspark = spark.read.option('header','true').csv('Info_1.csv')

In [14]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Qty: string (nullable = true)

In [16]:
df_pyspark.head(2)

[Row(Name='Apple', Type='Fruit', Qty='2'),
 Row(Name='Onion', Type='Vegetable', Qty='3')]

In [17]:
df_pyspark

DataFrame[Name: string, Type: string, Qty: string]

In [18]:
df_pyspark.tail(2)

[Row(Name='Onion', Type='Vegetable', Qty='3'),
 Row(Name='Carrot', Type='Vegetable', Qty='1')]